body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: #a5adee;
}

header, footer {
    text-align: center;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 475px;
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-weight: 500;
}

.labelRadio {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#satisfaccion{
    text-align: center;
}
#Intereses{
    text-align: center;
}

textarea {
    resize: none;
}

button {
    background-color: #6c62de;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #867deb;
}