body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    background-color: #7288c6;
    align-items: stretch;
}

.centerText {
    text-align: center;
}

form {
    background-color: #f0f0f5;
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 5vh auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}


legend {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

label {
    display: flex;
    margin-bottom: 10px;
    color: #444;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

label.inlineLabel {
    display: flex;
    margin-bottom: 10px;
    color: #444;
    font-weight: 500;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;

}


input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

label.inlineLabel > input {
    width: 10%;
}

button {
    background-color: #ff7043;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}