body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    background-image: url(./assets/salchipapa.jpg);
    align-items: stretch;
}

header, footer {
    text-align: center;
    color: white;
}

form {
    background: linear-gradient(135deg, #f86b2a, #fad0c4, #f8492a);
    padding: 25px;
    border-radius: 15px;
    max-width: 450px;
    margin: auto;
    color: #000000;
    font-family: 'Georgia', serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    
}

legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #333;
}

input, textarea, button, select {
    width: -webkit-fill-available;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input[type="radio"], input[type="checkbox"] {
    width: auto; 
    margin: 0; 
    accent-color: #ff6f61;
}

button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff6363;
}