body{
    background-color: rgb(209, 209, 209);
    /* text-align: center; */
}
h1{
   text-align: center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#agregarTarea{
 background-color: red;
 border-radius: 7px;
color: white;
cursor: pointer;
}
.tarea{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color:rgb(250, 56, 242) ;
    display: flex;
    justify-content:space-between;

}
.tarea:hover{
    background-color:beige;
}
.eliminar{
    background-color: aqua;
    /* display: flex;
    justify-content: flex-end; */
}
.botonVerde{
    background-color: red;
}
